<div class="booking-form">
    <h2 class="booking-form-hed">Book an Appointment</h2>
    <div class="booking-form-body">
        <h3>Book an Appointment and get the  <span class="txt-c4"><b>£100 DISCOUNT</b></span> on your treatment Finest Dental though <b>ZACH’s</b> page  </h3>
        <div class="contact-form">
            <form action="/consultation.php" method="POST">
                <input type=hidden name="company" value="1">
                <input type=hidden name="sourceForm" value="Implants Google Geo Tab - Insta Quote Popup {{branchFolder}}">
                <!--[!trackingFields!]-->
                <input type=hidden name="product" value="Implants">
                <input type="hidden" name="treatment" value="1" />

                <div class="cf-col half">
                    <input class="form-control" type="text" name="first_name" id="first_nameB" placeholder="FIRST NAME" required />
                </div>
                <div class="cf-col half">
                    <input class="form-control" type="text" name="last_name" id="last_nameB" placeholder="SECOND NAME" required />
                </div>
                <div class="cf-col">
                    <input class="form-control" type="text" name="phone" placeholder="PHONE" required />
                </div>
                <div class="cf-col">
                    <input class="form-control" type="text" name="email" placeholder="EMAIL" required />
                </div>
                <div class="cf-col">
                    <input class="form-control" type="text" name="postcode" placeholder="POSTCODE" required />
                </div>
                <div class="cf-col text-center">
                    <input type="submit" class="submit btn-grow" name="submit" value="BOOK NOW" />
                </div>
            </form>
        </div>
        <div class="meta-text">
            8A £50 refundable deposit will be required at the point of booking. This will be returned to you on the day of your consultation. Finance subject to a minimum of 16 working hours per week and a suitable credit history. B&A Group Limited is authorised and regulated by the Financial Conduct Authority. We are a credit broker and not a lender and offer credit facilities from a panel of lenders/from one lender. We are also a lender in our own right for loans exempt from FCA regulations.
        </div>
    </div>
</div>
